﻿@model BancariaSistemaKinal.Models.Cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referencia1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroReferencia1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroReferencia1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referencia2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroReferencia2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroReferencia2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
